# Created by https://www.toptal.com/developers/gitignore/api/go,macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=go,macos,visualstudiocode

### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# vendor/
go.work

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
*.icloud

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

### VisualStudioCode Patch ###
.history
.ionide
